* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'pudelinaregular';
    src: url(../fonts/Pudelina-webfont.ttf) format('truetype');
 }
// nav
nav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: rgba(255, 222, 255, 0.3);
    ul {
        display: flex;
        justify-content: space-around;
        width: 70vw;
        min-width: 750px;
        li {
            display: flex;
            align-items: center;
            list-style: none;
            a {
                text-decoration: none;
                font-family: 'Lato', sans-serif;
                font-size: 1.3em;
                color: #82298F;
            } 
        }
    }
}
// end nav


// hero
.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    background: url(/images/hero/hero_BG.jpg) no-repeat center;
    background-size: cover;
    .hero_bar {
        display: flex;
        flex-flow: column nowrap;
        .slogon {
            font-family: "pudelinaregular", Helvetica, Arial, sans-serif;
            color: #82298F;
            font-size: 3em;
            text-transform: uppercase;
            text-align: right;
            padding-right: 1em;
            width: 8em;
            line-height: 1.1;
        }
        .hero_bar_bottom {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            font-family: 'Lato', sans-serif;
            font-size: 1.7em;
            color: #82298F;
            width: 13em;
            padding-top: 1em;
            p {
                padding: 0 .5em;
                line-height: 1.42857143;
                greens {
                    color: #789900;
                }
            }
        }
    }
}
// end hero


// prod
#prod {
    width: 100%;
    min-height: 1000px;
    background: url(/images/products/BG.jpg);
    .prod_wrap {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        // showBox
        .prod_showBox {
            .prod_showBox_ul {
                display: flex;
                justify-content: center;
                li {
                    display: flex;
                    width: 10vw;
                    height: 10vw;
                    z-index: 10;
                    
                    a {
                        
                    }
                }
            }
        }
        // textBox
        .prod_textBox {
            margin-top: 5vmax;
            max-width: 1170px;
            .prod_textBox_text {
                font-family: 'Lato', sans-serif;
                color: #3A3A3A;
                line-height: 1.5em;
                text-align: justify;
                font-size: 1.1em;
            }
            .prod_textBox_ul {
                margin-top: 3vmax;
                list-style: none;
                li {
                    background: url(/images/products/li.png) no-repeat center left;
                    text-align: justify;
                    padding-left: 40px;
                    margin-bottom: 1em;
                    font-size: 1.2em;
                    line-height: 1.2em;
                }
            }
            violet {
                color: violet;
            }
            green {
                color: green;
            }
            red {
                color: red;
            }
        }
    } 
}
// prod

