* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'pudelinaregular';
    src: url(../fonts/Pudelina-webfont.ttf) format('truetype');
 }
body {
    min-height: 2000px;
}
// nav
nav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: rgba(255, 222, 255, 0.3);
    ul {
        display: flex;
        justify-content: space-around;
        width: 70vw;
        min-width: 750px;
        li {
            display: flex;
            align-items: center;
            list-style: none;
            a {
                text-decoration: none;
                font-family: 'Lato', sans-serif;
                font-size: 1.3em;
                color: #82298F;
            } 
        }
    }
}
// end nav


// hero
.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    background: url(/images/hero/hero_BG.jpg) no-repeat center;
    background-size: cover;
    .hero_bar {
        display: flex;
        flex-flow: column nowrap;
        .slogon {
            font-family: "pudelinaregular", Helvetica, Arial, sans-serif;
            color: #82298F;
            font-size: 3em;
            text-transform: uppercase;
            text-align: right;
            padding-right: 1em;
            width: 8em;
            line-height: 1.1;
        }
        .hero_bar_bottom {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            font-family: 'Lato', sans-serif;
            font-size: 1.7em;
            color: #82298F;
            width: 13em;
            padding-top: 1em;
            p {
                padding: 0 .5em;
                line-height: 1.42857143;
                greens {
                    color: #789900;
                }
            }
        }
    }
}
// end hero

