* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'pudelinaregular';
    src: url(../fonts/Pudelina-webfont.ttf) format('truetype');
 }
// nav
nav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: rgba(255, 222, 255, 0.3);
    ul {
        display: flex;
        justify-content: space-around;
        width: 70vw;
        min-width: 750px;
        li {
            display: flex;
            align-items: center;
            list-style: none;
            a {
                text-decoration: none;
                font-family: 'Lato', sans-serif;
                font-size: 1.3em;
                color: #82298F;
            } 
        }
    }
}
// end nav


// hero
.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    background: url(/images/hero/hero_BG.jpg) no-repeat center;
    background-size: cover;
    .hero_bar {
        display: flex;
        flex-flow: column nowrap;
        .slogon {
            font-family: "pudelinaregular", Helvetica, Arial, sans-serif;
            color: #82298F;
            font-size: 3em;
            text-transform: uppercase;
            text-align: right;
            padding-right: 1em;
            width: 8em;
            line-height: 1.1;
        }
        .hero_bar_bottom {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            font-family: 'Lato', sans-serif;
            font-size: 1.7em;
            color: #82298F;
            width: 13em;
            padding-top: 1em;
            p {
                padding: 0 .5em;
                line-height: 1.42857143;
                greens {
                    color: #789900;
                }
            }
        }
    }
}
// end hero


// prod
#prod {
    width: 100%;
    min-height: 1000px;
    background: url(/images/products/BG.jpg);
    padding-bottom: 2vmax;
    .prod_wrap {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        // showBox
        .prod_showBox {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            .prod_showBox_ul {
                display: flex;
                justify-content: center;
                list-style: none;
                min-height: 28vw;
                li {
                    width: 12vw;
                    padding: 2vw;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        width: 100%;
                        .img_prod {  
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            filter: grayscale(80%);
                            opacity: (0,8);
                            width: 100%;
                            transition: all 500ms;
                        }
                        .img_prod_plus {
                            position: absolute;
                            width: 2vw;
                            opacity: 0;
                            transition: all 1s;
                            background: white;
                            padding: 1vw;
                            border-radius: 10%;
                        }                
                        .Show {
                            opacity: (1);
                            filter: grayscale(0%);
                            width: 130%;
                            margin-left: -1vw;
                        }
                        .Show_plus {
                            opacity: 0.5;
                        }
                    }
                }
            }
            .prod_showBox_title {
                p {
                    text-align: center;
                    font-family: "pudelinaregular", Helvetica, Arial, sans-serif;
                    color: #82298F;
                    font-size: 2em;
                }
            }
               
        }
        // textBox
        .prod_textBox {
            margin-top: 5vmax;
            max-width: 1170px;
            .prod_textBox_text {
                font-family: 'Lato', sans-serif;
                color: #3A3A3A;
                line-height: 1.5em;
                text-align: justify;
                font-size: 1.1em;
            }
            .prod_textBox_ul {
                margin-top: 3vmax;
                list-style: none;
                li {
                    background: url(/images/products/li.png) no-repeat center left;
                    text-align: justify;
                    padding-left: 40px;
                    margin-bottom: 1em;
                    font-size: 1.2em;
                    line-height: 1.2em;
                }
            }
            violet {
                color: violet;
            }
            green {
                color: green;
            }
            red {
                color: red;
            }
        }
    } 
}
// prod


// bay
#bay {
    h2 {
        font-family: 'Lato', sans-serif;
        font-size: 2.3em;
        font-weight: 300;
        text-align: center;
        border: 2px dashed #82298F;
        color: #82298F;
        padding: .5em;
        background: rgba(255, 222, 255, 1);
    }
    .logos {
        display: flex;
        justify-content: center;
        background: url(/images/products/BG.jpg);
        .logos_wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 1170px;
            margin: 3vmax auto;
        }
    }
}
// end bay


// footer
#footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #FFDFFF;
    font-family: 'Lato', sans-serif;
    font-size: .9em;
    p {
        padding: .2em;
        a {
            color: black;
            text-decoration: none;
        }
    }
    .socials {
        padding: .2em;
        margin-bottom: 3vmax;
        a {
            padding: 0 .3em;
        }
    }
}
// end footer

/*
// page
.page_wrap {
    width: 100%;
    background: white;
    margin: 0 auto;
    margin-top: 100px;
    min-height: 100vh;
    background: url(/images/products/BG.jpg);
    .page {
        max-width: 1170px;
        background: white;
        min-height: 50vh;
    }
}*/


