section#footer
    img(src="/images/footer/sirena.png")
    p Група компаній «Сирена»
    p Україна, 04074, м. Київ, вул. Бережанська, 9, +38 (044) 502 38 57
    p e-mail:<a href="mailto:info@sirena.com.ua">info@sirena.com.ua</a>
    p <a href="http://www.sirena.ua/">www.sirena.ua</a>
    .socials
        <a href="https://vk.com/tmhippo"><img src="/images/footer/vk.png"></a>
        <a href="https://www.facebook.com/hippo.eko"><img src="/images/footer/fb.png"></a>
        <a href="https://www.instagram.com/hippo_ukraine/?hl=uk"><img src="/images/footer/insta.png"></a>
