section.hero
    .hero_bar
        p.slogon Піклування про найдорожчих
        .hero_bar_bottom
            img(src="images/hero/eco.png")
            p <greens>ЕКО-засоби</greens> для дитячого побуту