section.hero
    .hero_bar
        p.slogon Піклування про найдорожчих
        .hero_bar_bottom
            img(src="images/hero/eco.png")
            p <greens>ЕКО-засоби</greens> для дитячого побуту
    ul.prod_bar
        li 
            a(href="#") 
                p.test_prod миття пляшечок
                img(class="img_prod" src="/images/products/hippo_bottle.png", alt="hippo product")
        li
            a(href="#") 
                p.test_prod відбілювач
                img(class="img_prod" src="/images/products/hippo_box.png", alt="hippo product")
        li
            a(href="#")
                p.test_prod гель для прання
                img(class="img_prod" class="Show", src="/images/products/hippo-gel-pelenki.png", alt="hippo product")
        li
            a(href="#") 
                p.test_prod бальзам ополіскувач
                img(class="img_prod" src="/images/products/hippo-balsam-veshi.png", alt="hippo product")
        li
            a(href="#") 
                p.test_prod миття посуду
                img(class="img_prod" src="/images/products/hippo-gel-posuda.png", alt="hippo product")
