nav
    ul
        img(src="images/navi/logo.png" alt="Hippo Logo")
        li
            a(href="#about") HIPPO
                sup ®
        li
            a(href="#") Продукти
        li
            a(href="#") Де придбати
        li
            a(href="#") Контакти
        li 
            a(href="#") Рус