nav
    ul
        a(href="http://test1.web-hunters.com/") 
            img(src="images/navi/logo.png" alt="Hippo Logo")
        li
            a(href="#about") HIPPO
                sup ®
        li
            a(href="#") Продукти
        li
            a(href="#") Де придбати
        li
            a(href="#") Контакти
        li 
            a(href="#") Рус
        li
            a(href="https://www.facebook.com/hippo.eko")
                img(src="images/navi/fb.png", alt="icon")
        li
            a(href="#")
                img(src="images/navi/youtube.png", alt="icon")
        li
            a(href="https://www.instagram.com/hippo_ukraine/?hl=uk")
                img(src="images/navi/in.png", alt="icon")
