section#prod
    .prod_wrap
        .prod_showBox
            ul.prod_showBox_ul
                li  
                    img(src="/images/products/hippo_box.png", alt="hippo product")
                    a(href="#")
                li
                    a(href="#")
                li
                    a(href="#")
                li
                    a(href="#")
                li
        .prod_textBox
            p.prod_textBox_text Без сумніву, найбільша цінність у нашому житті – це діти. А найкраще і найцінніше, що можуть дати батьки і близькі люди дітям – це любов, турбота та безпека. Саме для дітей ми створили <violet>HIPPO®</violet><green> - ЕКО-засоби для побуту малюків.</green> Створюючи продукцію ТМ <violet>HIPPO®</violet> ми використовували більш ніж десятирічний досвід виробництва побутової хімії, новітні розробки європейських лабораторій, високоякісну, екологічно безпечну сировину.
            ul.prod_textBox_ul
                li Продукція розроблена для використання з перших днів життя, що підтверджено дослідженнями МОЗ України
                li Максимальна ефективность та максимальна безпека продуктів
                li У складі продукції відсутні такі небезпечні речовини, як фосфати, парабени, формальдегіди, хімічні барвники, хлор, жорсткі ароматизатори або парфумерні композиції
                li Сировина, що входить до складу продукції, природного походження, не містить алергенів і підлягає біорозкладу 
                li Безпека продукції та відсутність шкідливого впливу на навколишнє середовище підтверджено ЕКО сертифікатом на відповідність вимогам міжнародного екологічного стандарту ISO 14024